{% load static %}
{% load security_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="{% static 'css/tailwindcss/output.css' %}" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static 'css/tailwindcss/conaford.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e00c278a93.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<style>

/* .swal2-html-container {
  max-height: 400px;
  overflow-y: auto;
} */

.swal2-html-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


/* .swal2-actions {
  margin-top: 0;
  margin-bottom: 0;
} */

</style>
<body>
    <!-- html -->
    <div id="main">
    <!-- <div class="hidden" id="main"> -->
        <!-- navbar -->
        {% include 'hztheader-tailwind.html' %}
        <!-- header -->
        <div class="mx-auto p-4 max-w-7xl flex items-center">
            <a href="/dashboard/" class="mr-2">
                <i class="fas fa-home"></i> Panel
            </a>
            <span class="mx-2">/</span>
            <a href="/pos/crm/acta/" class="text-blue-500">
                <i class="fas fa-user-friends"></i> Ficha de lavantamiento
            </a>
        </div>
        <!-- main -->
        <div class="md:container md:mx-auto bg-[#EAEBEB] w-full p-4 mb-4">

            <!-- multi-step -->
            <ol id="multi-step"
                class="flex justify-start sm:justify-center items-center sm:items-center flex-col sm:flex-row gap-4 mb-2 p-4">
                <li class="flex items-center text-blue-600 space-x-2.5 rtl:space-x-reverse cursor-pointer">
                    <span
                        class="flex items-center justify-center w-8 h-8 border-2 border-blue-600 rounded-full shrink-0">
                        1
                    </span>
                    <h3 class="font-medium leading-tight">Paso 1</h3>
                </li>
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse cursor-pointer">
                    <span
                        class="flex items-center justify-center w-8 h-8 border-2 border-gray-500 rounded-full shrink-0">
                        2
                    </span>
                    <h3 class="font-medium leading-tight">Paso 2</h3>
                </li>
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse cursor-pointer">
                    <span
                        class="flex items-center justify-center w-8 h-8 border-2 border-gray-500 rounded-full shrink-0">
                        3
                    </span>
                    <h3 class="font-medium leading-tight">Paso 3</h3>
                </li>
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse cursor-pointer">
                    <span
                        class="flex items-center justify-center w-8 h-8 border-2 border-gray-500 rounded-full shrink-0">
                        4
                    </span>
                    <h3 class="font-medium leading-tight">Paso 4</h3>
                </li>
                <li class="flex items-center text-gray-500 space-x-2.5 rtl:space-x-reverse cursor-pointer">
                    <span
                        class="flex items-center justify-center w-8 h-8 border-2 border-gray-500 rounded-full shrink-0">
                        5
                    </span>
                    <h3 class="font-medium leading-tight">Paso 5</h3>
                </li>
            </ol>

            <header>
                <!-- border-2 rounded  -->
                <h1 class="font-bold text-center text-2xl mb-4 font-gotham-bold">
                    <!-- ACTUALIZAR FICHA DE LEVANTAMIENTO {{ acta_id }} -->
                    <i class="fa-solid fa-plus"></i> AÑADIR FICHA DE LEVANTAMIENTO 
                </h1>
                <h2 class="text-center text-lg mb-4 text-gray-700">
                    {% if request.session.pi %}
                        "Estas en la posesión informal: <b>{{ request.session.posesion}} "</b>
                    {% else %}
                        "No selecionaste ninguna posesion informal"
                    {% endif %}
                </h2>
                <!-- linea -->
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-emerald-200">
                    <div style="width: 10%"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500">
                    </div>
                    <div style="width: 15%"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-orange-500">
                    </div>
                    <div style="width: 25%"
                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-emerald-500">
                    </div>
                </div>
            </header>
            
        <form method="post" id="form_ficha_levantamiento" enctype="multipart/form-data">
            <div class="max-w-[500px] mx-auto my-5">
                {% if request.session.pi %}
                    <input 
                        type="hidden" 
                        name="id_posesion_informal" 
                        id="sessionValue" 
                        value="{{ request.session.pi }}"
                    >
                {% else %}
                    <input 
                        type="hidden" 
                        name="id_posesion_informal" 
                        id="sessionValue" 
                        value=""
                    >
                {% endif %}
            </div>
            
            <!-- 1.- DATOS DE LA POSESIÓN INFORMAL -->
                <div class="hidden" id="part1">
                    <!-- Fecha, Cel. Wssp. -->
                    <div class="flex flex-col gap-x-2 sm:flex-row mb-4">
                        <!-- Fecha -->
                        <div class="flex-1">
                            <label for="fecha"
                                class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">Fecha: <i class="fa-solid fa-calendar-days"></i></label>
                            <!-- <input type="text" id="fecha" name="fecha"
                        placeholder="dd/mm/aaaa"
                        class="w-full mt-1 px-4 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]"> -->
                            <input type="date" id="fecha" name="fecha" class="w-full px-4 mt-1 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]
                        ">
                        </div>
                        <!-- Cel. Wssp -->
                        <div class="flex-1">
                            <label for="cel-wssp"
                                class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">Cel.
                                Wssp: <i class="fa-solid fa-phone"></i></label>
                            <input type="text" maxlength="9" id="cel-wssp" name="cel-wssp"
                                class="w-full mt-1 px-4 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]"
                                placeholder="Cel. Wssp">
                        </div>
                        <div class="flex-1">
                            <label for="codigo_predio"
                                class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">CODIGO: FORMATO: M-456</label>
                            <input type="text" id="codigo_predio" name="codigo_predio"
                                class="mt-1 w-full px-4 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]"
                                placeholder="Codigo">
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- 2.- IDENTIFICACIÓN DEL PREDIO -->
                <div class="hidden" id="part2">
                    <h1 class="font-bold mb-4 font-gotham-bold">2.- IDENTIFICACIÓN DEL PREDIO</h1>
                    <!-- Consigne dirección fiscal y referencia -->
                    <div class="mb-2">
                        <input type="text" id="direccion-fiscal-referencia" name="direccion-fiscal-referencia"
                            class="w-full  sm:w-[80%] px-4 py-2 border-2 text-gray-700 shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42] hover:border-2"
                            placeholder="Consigne dirección fiscal y referencia">
                    </div>
                    <!-- Descripción física del predio-->
                    <div class="mb-2">
                        <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">Nivel de Consolidación</h2>
                        <ul class="mt-1 text-sm font-medium text-gray-700 sm:flex">
                            <!-- border-gray-100 sm:flex"> -->
                            <li class="bg-[#00A5A5] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="descripcion-fisica-predio-construido" type="radio" value="consolidado" name="list-radio-descripcion-fisica-predio" class="w-4 h-4"
                                >
                                <label for="descripcion-fisica-predio-construido" class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Consolidado</label>
                            </li>
                            <li class="bg-[#00A5A5] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="descripcion-fisica-predio-en-construccion" type="radio" value="semi consolidado" name="list-radio-descripcion-fisica-predio" class="w-4 h-4">
                                <label for="descripcion-fisica-predio-en-construccion" class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Semi Consolidado</label>
                            </li>
                            <li class="bg-[#00A5A5] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="descripcion-fisica-predio-cercado" type="radio" value="precario" name="list-radio-descripcion-fisica-predio" class="w-4 h-4">
                                <label for="descripcion-fisica-predio-cercado" class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">precario</label>
                            </li>
                            <li class="bg-[#00A5A5] flex sm:w-[30%] justify-start items-center gap-x-2 px-2 py-4">
                                <input id="descripcion-fisica-predio-otros" type="radio" value="otros" name="list-radio-descripcion-fisica-predio" class="w-4 h-4">
                                <label for="descripcion-fisica-predio-otros" class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Otros</label>
                                <input type="text" id="descripcion-fisica-predio-otros-value" name="descripcion-fisica-predio-otros-value" class="flex-1 px-4 py-2 border-2 text-gray-700 shadow-sm focus:outline-none" placeholder="Especificar">
                            </li>
                            </ul>
                    </div>
                    <!-- Uso-->
                    <div class="mb-2">
                        <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">Uso</h2>
                        <ul class="mt-1 text-sm font-medium text-gray-700 sm:flex">
                            <li
                                class="bg-[#acacac] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="uso-vivienda" type="radio" value="vivienda" name="list-radio-uso"
                                    class="w-4 h-4">
                                <label for="uso-vivienda"
                                    class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Vivienda</label>
                            </li>
                            <li
                                class="bg-[#acacac] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="uso-comercio" type="radio" value="comercio" name="list-radio-uso"
                                    class="w-4 h-4">
                                <label for="uso-comercio"
                                    class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Comercio</label>
                            </li>
                            <li
                                class="bg-[#acacac] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="uso-vivienda-comercio" type="radio" value="vivienda-comercio"
                                    name="list-radio-uso" class="w-4 h-4">
                                <label for="uso-vivienda-comercio"
                                    class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Vivienda
                                    Comercio</label>
                            </li>
                            <li
                                class="bg-[#acacac] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="uso-equipamiento-urbano" type="radio" value="equipamiento-urbano"
                                    name="list-radio-uso" class="w-4 h-4">
                                <label for="uso-equipamiento-urbano"
                                    class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Equipamiento
                                    Urbano</label>
                            </li>
                            <li class="bg-[#acacac] flex sm:w-[30%] justify-start items-center gap-x-2 px-2 py-4">
                                <input id="uso-otros" type="radio" value="otros" name="list-radio-uso" class="w-4 h-4">
                                <label for="uso-otros"
                                    class="font-gotham-bold text-sm font-medium text-gray-100 cursor-pointer hover:text-gray-300">Otros</label>
                                <input type="text" id="uso-otros-value" name="uso-otros-value"
                                    class="flex-1 px-4 py-2 border-2 text-gray-700 shadow-sm focus:outline-none"
                                    placeholder="Especificar">
                            </li>
                        </ul>
                    </div>
                    <!-- Serv. Bas. -->
                    <div class="mb-4">
                        <label class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">Serv. Bas.</label>
                        <ul class="mt-1 sm:flex text-sm font-medium text-gray-700">
                            <li
                                class="bg-[#FFAF00] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="serv-bas-agua" type="checkbox" value="agua" name="list-checkbox-serv-bas"
                                    class="w-4 h-4">
                                <label for="serv-bas-agua"
                                    class="w-full font-gotham-bold text-sm font-medium text-gray-800 cursor-pointer hover:text-gray-500">Agua</label>
                            </li>
                            <li
                                class="bg-[#FFAF00] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="serv-bas-desagüe" type="checkbox" value="desagüe" name="list-checkbox-serv-bas"
                                    class="w-4 h-4">
                                <label for="serv-bas-desagüe"
                                    class="w-full font-gotham-bold text-sm font-medium text-gray-800 cursor-pointer hover:text-gray-500">Desagüe</label>
                            </li>
                            <li
                                class="bg-[#FFAF00] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="serv-bas-energia-electrica" type="checkbox" value="energia-electrica"
                                    name="list-checkbox-serv-bas" class="w-4 h-4">
                                <label for="serv-bas-energia-electrica"
                                    class="w-full font-gotham-bold text-sm font-medium text-gray-800 cursor-pointer hover:text-gray-500">Energia
                                    Electrica</label>
                            </li>
                            <li
                                class="bg-[#FFAF00] flex items-center gap-x-2 px-2 py-4 border-b border-gray-300 sm:border-b-0 sm:border-r">
                                <input id="serv-bas-internet-y-o-telefonia" type="checkbox" value="internet"
                                    name="list-checkbox-serv-bas" class="w-4 h-4">
                                <label for="serv-bas-internet-y-o-telefonia"
                                    class="w-full font-gotham-bold text-sm font-medium text-gray-800 cursor-pointer hover:text-gray-500">Internet
                                    y/o telefonía</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 3.- DATOS DE(LOS) TITULAR(ES)/REPRESENTANTE(S) -->
                <div class="hidden" id="part3">
                    <!-- titulares -->
                    <div class="relative  shadow-md sm:rounded-lg bg-white p-4  mb-4">
                        <div class="mb-2 py-2">
                            <h2 class="text-sm text-gray-700 font-bold">TITULARES <i class="fa-solid fa-user-large"></i></h2>
                        </div>
                        <div class="overflow-y-auto">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                                <thead class="text-xs text-center text-gray-700 uppercase bg-gray-50">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Apellidos
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Nombres
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Dni
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Estado Civil
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Copia Documento
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Documentos
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Observaciones
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Representante
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Opciones
                                        </th>
                                        
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="titulares-container">
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-4 py-2 flex justify-end">
                            <button type="button" id="btn-agregar-titular" class="mb-2 bg-[#003c8b] font-gotham-bold p-2 rounded text-white hover:bg-[#355887]">
                                Añadir titular <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- representantes -->
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-white p-4  mb-4 hidden">
                        <div class="mb-2 py-2">
                            <h2 class="text-sm text-gray-700 font-bold">REPRESENTANTES <i class="fa-solid fa-user-large"></i></h2>
                        </div>
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 overflow-auto">
                            <thead class="text-xs text-center text-gray-700 uppercase bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Apellidos
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Nombres
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Dni
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Estado Civil
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Copia Documento
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Carta poder
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Documentos
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Observaciones
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Opciones
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody class="text-center" id="representantes-container">
                        </table>
                        <div class="mt-4 py-2 flex justify-end">
                            <button type="button" id="btn-agregar-representante" class="mb-2 bg-[#003c8b] font-gotham-bold p-2 rounded text-white hover:bg-[#355887]">
                                Añadir representante <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 4.- BOCETO DEL PREDIO -->
                <div class="hidden" id="part4">
                    <!-- BOCETO DEL PREDIO -->
                    <h1 class="font-bold text-sm mb-1 font-gotham-bold">PARAMETROS</h1>
                    <div class="bg-white rounded-md p-5 my-5">
                        <label for="boceto-predio-pdf" class="font-bold">Suba un pdf:</label>
                        <input type="file" name="boceto-predio-pdf" id="boceto-predio-pdf" accept=".pdf">
                    </div>
                    <!-- ¿HITOS CONSOLIDADOS?, ¿ACCESO A VIA?, ¿REQUIERE SUBDIVISIÓN?, ¿REQUIERE ALINEAMIENTO?, ¿APERTURA DE VIA?, ¿LIBRE DE RIESGO?, ¿REQ. TRANSF. DE TITULAR?, ¿LITIGIO, DENUNCIA, ETC? -->
                    <div class="flex flex-col gap-1 mb-2">
                        <!-- ¿HITOS CONSOLIDADOS? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿HITOS
                                CONSOLIDADOS?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="hito-consolidado-si" type="radio" value="si" checked
                                        name="list-radio-hitos-consolidado" class="w-4 h-4">
                                    <label for="hito-consolidado-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="hito-consolidado-no" type="radio" value="no"
                                        name="list-radio-hitos-consolidado" class="w-4 h-4">
                                    <label for="hito-consolidado-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>
                        <!-- ¿ACCESO A VIA? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿ACCESO
                                A VIA?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="acceso-via-si" type="radio" value="si" name="list-radio-acceso-via" checked
                                        class="w-4 h-4">
                                    <label for="acceso-via-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="acceso-via-no" type="radio" value="no" name="list-radio-acceso-via"
                                        class="w-4 h-4">
                                    <label for="acceso-via-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>

                        <!-- ¿REQUIERE SUBDIVISIÓN? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿REQUIERE SUBDIVISIÓN?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="subdivion-si" type="radio" value="si" name="list-radio-subdivion" checked
                                        class="w-4 h-4">
                                    <label for="subdivion-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="subdivion-no" type="radio" value="no" name="list-radio-subdivion"
                                        class="w-4 h-4">
                                    <label for="subdivion-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>
                        <!-- ¿CUÁNTOS LOTES? -->
                        <div class="w-full sm:w-1/3" id="container-numero-lotes">
                            <label for="numero-lotes"
                                class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">¿CUÁNTOS
                                LOTES?</label>
                            <input type="number" id="numero-lotes" name="numero-lotes"
                                class="w-full px-4 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]"
                                placeholder="¿Cuántos lotes?">
                        </div>
                        <!-- ¿REQUIERE ALINEAMIENTO? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿REQUIERE ALINEAMIENTO?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="alineamiento-si" type="radio" value="si" name="list-radio-alineamiento"
                                        class="w-4 h-4">
                                    <label for="alineamiento-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="alineamiento-no" type="radio" value="no" name="list-radio-alineamiento"
                                        checked class="w-4 h-4">
                                    <label for="alineamiento-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>
                        <!-- ¿APERTURA DE VIA? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿APERTURA DE VIA?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="apertura-via-si" type="radio" value="si" name="list-radio-apertura-via"
                                        checked class="w-4 h-4">
                                    <label for="apertura-via-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="apertura-via-no" type="radio" value="no" name="list-radio-apertura-via"
                                        class="w-4 h-4">
                                    <label for="apertura-via-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>
                        <!-- ¿LIBRE DE RIESGO? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿LIBRE
                                DE RIESGO?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="libre-riesgo-si" type="radio" value="si" name="list-radio-libre-riesgo"
                                        checked class="w-4 h-4">
                                    <label for="libre-riesgo-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="libre-riesgo-no" type="radio" value="no" name="list-radio-libre-riesgo"
                                        class="w-4 h-4">
                                    <label for="libre-riesgo-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>
                        <!-- ¿REQ. TRANSF. DE TITULAR? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿REQ.
                                TRANSF. DE TITULAR?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="transf-titular-si" type="radio" value="si" name="list-radio-transf-titular"
                                        class="w-4 h-4">
                                    <label for="transf-titular-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="transf-titular-no" type="radio" value="no" name="list-radio-transf-titular"
                                        checked class="w-4 h-4">
                                    <label for="transf-titular-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>
                        <!-- ¿LITIGIO, DENUNCIA, ETC? -->
                        <div class="flex items-center gap-x-5">
                            <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold w-1/2 sm:w-1/5">
                                ¿LITIGIO, DENUNCIA, ETC?</h2>
                            <div class="flex gap-x-1">
                                <div class="flex items-center gap-x-1">
                                    <input id="litigio-denuncia-etc-si" type="radio" value="si" checked
                                        name="list-radio-litigio-denuncia-etc" class="w-4 h-4">
                                    <label for="litigio-denuncia-etc-si" class="font-gotham-bold text-sm">SI</label>
                                </div>
                                <div class="flex items-center gap-x-1">
                                    <input id="litigio-denuncia-etc-no" type="radio" value="no" checked
                                        name="list-radio-litigio-denuncia-etc" class="w-4 h-4">
                                    <label for="litigio-denuncia-etc-no" class="font-gotham-bold text-sm">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- AREA SEGÚN EL TITULAR/REPRESENTANTE -->
                    <div class="mb-2 w-full sm:w-1/3">
                        <label for="area-segun-titular-representante"
                            class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">ÁREA SEGÚN EL
                            TITULAR/REPRESENTANTE</label>
                        <div class="flex-1 flex items-center gap-2">
                            <input type="number" id="area-segun-titular-representante" step="any" name="area-segun-titular-representante"
                            class="flex-1 px-4 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]"
                            placeholder="Área según el titular/presidente m2"><b class="w-fit">m<sup>2</sup></b>
                        </div>
                    </div>

                    <!-- COMENTARIO ADIC.: -->
                    <div class="mb-4">
                        <label for="comentario-adic"
                            class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">COMENTARIO
                            ADIC.:</label>
                        <textarea id="comentario-adic" rows="4" name="comentario1"
                            class="block w-full px-4 py-2 border-2 text-gray-700 shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42] hover:border-2"
                            placeholder="Comentario adic.:"></textarea>
                    </div>
                </div>
                <!-- 5.- DEL LEVANTAMIENTO TOPOGRÁFICO: -->
                <div class="hidden" id="part5">
                    <h1 class="font-bold text-sm mb-1 font-gotham-bold">5.- LEVANTAMIENTO TOPOGRÁFICO:</h1>
                    <!-- CODIGO, HORA, N° PUNTOS -->
                    <div class="flex flex-col gap-x-2 sm:flex-row mb-4">
                        <!-- CODIGO -->
                        
                        <!-- HORA -->
                        <div class="flex-1">
                            <label for="hora"
                                class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">HORA</label>
                            <input type="time" id="hora" name="hora"
                                class="mt-1 w-full px-4 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]"
                                placeholder="Hora">
                        </div>
                        <!-- N° PUNTOS -->
                        <div class="flex-1">
                            <label for="numero-puntos"
                                class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">N° DE
                                PUNTOS LEVANTADOS</label>
                            <input 
                                type="number" 
                                id="numero-puntos" 
                                pattern="\d{1,2}" title="Ingrese un número de máximo dos dígitos"
                                name="numero-puntos"
                                class="mt-1 w-full px-4 py-2 text-gray-700 border-2 border-gray-950 rounded-md shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42]"
                                placeholder="N° de puntos levantados"
                            >
                            <p></p>
                        </div>
                    </div>

                    <!-- TIEMPO ATMOSFERICO -->
                    <div class="mb-2">
                        <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold mb-2">TIEMPO ATMOSFERICO:
                        </h2>
                        <div class="flex flex-col sm:flex-row w-full">
                            <div class="bg-yellow-300 p-2 flex items-center gap-x-1">
                                <input id="soleado" type="radio" value="soleado" name="list-radio-tiempo-atmosferico"
                                    checked class="w-4 h-4">
                                <label for="soleado"
                                    class="font-gotham-bold text-sm block p-2"><i class="fa-solid fa-sun"></i> SOLEADO</label>
                            </div>
                            <div class="bg-blue-400 p-2 flex items-center gap-x-1">
                                <input id="lluvioso" type="radio" value="lluvioso" name="list-radio-tiempo-atmosferico"
                                    class="w-4 h-4">
                                <label for="lluvioso"
                                    class="font-gotham-bold text-sm block p-2"><i class="fa-solid fa-cloud-rain"></i> LLUVIOSO</label>
                            </div>
                            <div class="bg-black p-2 flex items-center gap-x-1">
                                <input id="torment" type="radio" value="torment" name="list-radio-tiempo-atmosferico"
                                    class="w-4 h-4">
                                <label for="torment"
                                    class="font-gotham-bold text-sm block p-2 text-white"><i class="fa-solid fa-poo-storm"></i> TORMENT.</label>
                            </div>
                            <div class="bg-gray-400 p-2 flex items-center gap-x-1">
                                <input id="nublado" type="radio" value="nublado" name="list-radio-tiempo-atmosferico"
                                    class="w-4 h-4">
                                <label for="nublado" class="font-gotham-bold text-sm block p-2"><i class="fa-solid fa-cloud"></i> NUBLADO</label>
                            </div>
                            <div class="bg-blue-200 p-2 flex items-center gap-x-1">
                                <input id="neblinoso" type="radio" value="neblinoso" name="list-radio-tiempo-atmosferico"
                                    class="w-4 h-4">
                                <label for="neblinoso"
                                    class="font-gotham-bold text-sm block p-2"><i class="fa-solid fa-smog"></i> NEBLINOSO</label>
                            </div>
                            <div class="bg-white p-2 flex items-center gap-x-1">
                                <input id="nevoso" type="radio" value="nevoso" name="list-radio-tiempo-atmosferico"
                                    class="w-4 h-4">
                                <label for="nevoso" class="font-gotham-bold text-sm block p-2"><i class="fa-solid fa-snowflake"></i> NEVOSO</label>
                            </div>
                        </div>
                    </div>

                    <!-- COMENTARIOS/OBSERVACIONES: -->
                    <div class="mb-4">
                        <label for="comentario-observaciones"
                            class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">COMENTARIOS/OBSERVACIONES:</label>
                        <textarea id="comentario-observaciones" rows="4" name="comentario2"
                            class="block w-full px-4 py-2 border-2 text-gray-700 shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42] hover:border-2"
                            placeholder="Comentario/observaciones."></textarea>
                    </div>
                </div>
                <!-- 8.- ADICIONALES: -->
                <div class="hidden" id="part8">
                    <h1 class="font-bold text-sm mb-2 font-gotham-bold">8.- ARCHIVOS:</h1>
                    <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">
                        SE
                        ADJUNTA, TOMA FOTOGRAFICA DEL PREDIO:</h2>
                    <div class="p-5 mb-4 bg-white">
                        <label for="toma-fotografica-predio-imagen" class="font-bold">Suba una imagen <span class="text-sm font-normal">JPG,PNG,PDF</span>:</label>
                        <input type="file" name="toma-fotografica-predio-imagen" id="toma-fotografica-predio-imagen" accept="image/png, image/jpeg, application/pdf">
                    </div>
                    <!-- casos -->
                    <div class="flex gap-2 mb-2">
                        <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">CASOS:</h2>
                        <div class="flex gap-x-1">
                            <div class="flex items-center gap-x-1">
                            <input id="casos-si" type="radio" value="si" name="list-radio-casos" class="w-4 h-4">
                            <label for="casos-si" class="font-gotham-bold text-sm">SI</label>
                            </div>
                            <div class="flex items-center gap-x-1">
                            <input id="casos-no" type="radio" value="no" name="list-radio-casos" class="w-4 h-4" checked>
                            <label for="casos-no" class="font-gotham-bold text-sm">NO</label>
                            </div>
                        </div>
                    </div>
                    <!-- casos si -->
                    <div id="container-casos" class="hidden">
                        <hr class="h-px bg-red-700 border-0 mb-2">
                        <h2 class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold mb-2">DOCUMENTOS</h2>
                        <div class="p-5 mb-4 bg-white">
                            <label for="documentos-casos-si-pdf" class="font-bold">Suba un pdf:</label>
                            <input type="file" name="documentos-casos-si-pdf" id="documentos-casos-si-pdf" accept=".pdf">
                        </div>
                        <div class="mb-2">
                            <label for="descripcion-documentos-casos-si" class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">DESCRIPCIÓN</label>
                            <textarea id="descripcion-documentos-casos-si" name="descripcion-documentos-casos-si" rows="4" class="block w-full px-4 py-2 border-2 text-gray-700 shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42] hover:border-2" placeholder="Descripción"></textarea>
                        </div>
                    </div>
                </div>
                <!-- 9.- FIRMA DEL OPERADOR TOPOGRÁFICO, REPRESENTANTE DE LA COMISIÓN Y SUPERVISOR DE CAMPO -->
                <div class="hidden" id="part9">
                    <h1 class="font-bold text-sm mb-1 font-gotham-bold">9.- FIRMA DEL OPERADOR TOPOGRÁFICO, REPRESENTANTE DE
                        LA COMISIÓN Y SUPERVISOR DE CAMPO</h1>
                    <!-- <h1 class="font-bold text-sm mb-1 font-gotham-bold">9.- FIRMA DE LOS ACTORES INTERVINIENTES:</h1> -->

                    <!-- 9.- FIRMA DEL OPERADOR TOPOGRÁFICO, REPRESENTANTE DE LA COMISIÓN Y SUPERVISOR DE CAMPO -->
                    <div class="p-5 mb-4 bg-white">
                        <label for="firmas-operador-topografo-representante-comision-supervisor-de-campo-pdf" class="font-bold">Suba un pdf:</label>
                        <input type="file" name="firmas-operador-topografo-representante-comision-supervisor-de-campo-pdf" id="firmas-operador-topografo-representante-comision-supervisor-de-campo-pdf" accept=".pdf">
                    </div>
                    <hr class="h-px bg-red-700 border-0">

                    <!-- COMENTARIOS/OBSERVACIONES: -->
                    <div class="mb-2">
                        <label for="firma-actores-intervinientes-comentario-observaciones"
                            class="text-sm font-medium text-gray-700 asterisk-icon font-gotham-bold">COMENTARIOS/OBSERVACIONES:</label>
                        <textarea id="firma-actores-intervinientes-comentario-observaciones" rows="4"
                        name="firma-actores-intervinientes-comentario-observaciones"
                            class="block w-full px-4 py-2 border-2 text-gray-700 shadow-sm focus:outline-none focus:border-[#A7CF42] focus:ring focus:ring-[#D8E3C2] hover:border-[#A7CF42] hover:border-2"
                            placeholder="Comentario/observaciones."></textarea>
                    </div>

                </div>
                <!-- next && prev -->
                <div class="flex justify-start sm:justify-center gap-4 sm:end hidden">
                    <!-- <div>
                        <button type="button" class="mb-2 bg-[#8b0031] font-gotham-bold p-2 rounded text-white hover:bg-[#6d3b4c]"
                        id="btn-cancelar-titular">
                        <a href="/pos/crm/acta/"
                        ><i class="fas fa-times"></i> Cancelar</a>
                        </button>
                    </div> -->

                    <div>
                        <button type="button"
                        class="mb-2 bg-[#008B8B] font-gotham-bold p-2 rounded text-white hover:bg-[#519494]"
                        id="btn-prev">
                        << Anterior</button>
                        <button type="button"
                            class="mb-2 bg-[#008B8B] font-gotham-bold p-2 rounded text-white hover:bg-[#519494]"
                            id="btn-next">Siguiente >></button>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="mx-auto p-4 max-w-7xl flex gap-4 bg-[#EAEBEB] mb-4">
                <a href="/pos/crm/acta/"
                    class="mb-2 bg-[#8b0031] font-gotham-bold p-2 rounded text-white hover:bg-[#6d3b4c]"
                    id="btn-cancelar"><i class="fas fa-times"></i> Cancelar</a>
                <button type="submit" class="mb-2 bg-[#003c8b] font-gotham-bold p-2 rounded text-white hover:bg-[#355887]"
                    id="btn-create"><i class="fas fa-save"></i> Agregar</button>
            </div>
        </form>
    </div>
    <script src="{% static 'crm/acta/js/selectors.js' %}"></script>
    <script src="{% static 'crm/acta/js/navbar.js' %}"></script>
    <script src="{% static 'crm/acta/js/multi-step-create.js' %}"></script>
    <script src="{% static 'crm/acta/js/init-data.js' %}"></script>
    <script src="{% static 'crm/acta/js/validators.js' %}"></script>
    <script src="{% static 'crm/acta/js/modal-titulares-representantes.js' %}"></script>
    <script src="{% static 'crm/acta/js/create.js' %}"></script>
    <script src="{% static 'crm/acta/js/validacion.js' %}"></script>
    <!-- <script src="{% static 'crm/acta/js/conaforp-acta-2.js' %}"></script> -->
</body>

</html>